{% load cache %}
{% load i18n %}
{% load staticfiles %}
{% load base_filters %}
{% load base_tags %}
{% load theme_tags %}
{% load nav_tags %}
{% load event_tags %}
{% load event_filters %}
{% load news_tags %}
{% load story_tags %}
{% load box_tags %}
{% load directory_tags %}
{% load photo_tags %}
{% load video_tags %}
{% load video_filters %}

<h5><i class="fa fa-video-camera fa-lg" aria-hidden="true"></i> Latest Videos</h5>
Videos will go here.
{% comment %}

<div class="card">
	<h5 class="card-header"><i class="fa fa-video-camera" aria-hidden="true"></i> Latest Videos</h5>
	<div class="card-block">
		Videos will go here.
	</div>
</div>

{% endcomment %}
