{% load cache %}
{% load i18n %}
{% load staticfiles %}
{% load base_filters %}
{% load base_tags %}
{% load theme_tags %}
{% load nav_tags %}
{% load event_tags %}
{% load event_filters %}
{% load news_tags %}
{% load story_tags %}
{% load box_tags %}
{% load directory_tags %}
{% load photo_tags %}
{% load video_tags %}
{% load video_filters %}

<div class="container">
  <div class="row text-xs-center text-muted small">
    <div class="col-xs-4">
      <a href="https://www.tendenci.com"><img src="/static/images/icons/tendenci-logo.png" alt="Tendenci"  height="25px" class="shadow"></a>
    </div>
    <div class="col-xs-4">
      <i class="fa fa-copyright" aria-hidden="true"></i> 2017 Corvette Club of America, Inc.
    </div>
    <div class="col-xs-4">
      <img src="{{ THEME_URL }}media/images/Flag_of_the_United_States.svg" alt="USA flag" height="25px" class="shadow">
    </div>
  </div>
</div>
