{% load cache %}
{% load i18n %}
{% load staticfiles %}
{% load base_filters %}
{% load base_tags %}
{% load theme_tags %}
{% load nav_tags %}
{% load event_tags %}
{% load event_filters %}
{% load news_tags %}
{% load story_tags %}
{% load box_tags %}
{% load directory_tags %}
{% load photo_tags %}
{% load video_tags %}
{% load video_filters %}

<div class="text-xs-center">
  <i class="fa fa-copyright" aria-hidden="true"></i> 2016 Corvette Club of America
  <img src="{{ THEME_URL }}media/images/Flag_of_the_United_States.svg" alt="USA flag" height="20px">
</div>
