{% load cache %}
{% load i18n %}
{% load staticfiles %}
{% load base_filters %}
{% load base_tags %}
{% load theme_tags %}
{% load nav_tags %}
{% load event_tags %}
{% load event_filters %}
{% load news_tags %}
{% load story_tags %}
{% load box_tags %}
{% load directory_tags %}
{% load photo_tags %}
{% load video_tags %}
{% load video_filters %}

<nav class="navbar navbar-inverse">
  <!-- navigation toggle button -->
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <div class="clearfix">
      {% nav 1 %}
      {% nav 2 %}
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="{% url 'auth_logout' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="false"><i class="fa fa-sign-out" aria-hidden="true"></i> {% trans "Sign Out" %}</a><li>
        {% else %}
        {% if MODULE_USERS_SELFREGISTRATION %}
        <li><a href="{% url 'registration_register' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="false"><i class="fa fa-plus-square-o" aria-hidden="true"></i> {% trans "Register" %}</a><li>&nbsp;
        {% endif %}
        <li><a href="{% url 'auth_login' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="false"><i class="fa fa-sign-in" aria-hidden="true"></i> {% trans "Sign In" %}</a><li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% comment %}
<a class="navbar-brand" href="{% url 'home' %}" title="{{ SITE_GLOBAL_SITEDISPLAYNAME }}">CCA <i class="fa fa-home" aria-hidden="true"></i></a>

<form class="form-inline" action="{% url 'haystack_search' %}" method="get">
  <input type="text" class="form-control" placeholder="Search">
  <button class="btn btn-outline-primary" type="submit"><i class="fa fa-search"></i></button>
</form>
{% endcomment %}
